.card {
  margin: 1rem 0;
}

.card-photo {
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0 0;
}

.card-body {
  padding: 0.5rem;
  background-color: white;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}

button,
button:active {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.liked {
  color: red;
}

.card-body img {
  width: 1.5rem;
}
